@font-face {
  font-family: 'Kingthings Petrock';
  src: url('/assets/fonts/KingthingsPetrock.woff2') format('woff2');
}

@font-face {
  font-family: 'Kingthings Petrock Light';
  src: url('/assets/fonts/KingthingsPetrockLight.woff2') format('woff2');
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kingthings Petrock Light', serif;
  color: rgb(202, 197, 175);
}

body {
  height: 100vh;
  display: grid;
  place-items: center;

  background-image: url(../assets/img/ChatGPT\ Image\ 18\ de\ mai.\ de\ 2025\,\ 07_15_01.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: large;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

body > * {
  position: relative;
  z-index: 1;
}

#hero-grimorio {
  width: 85vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}


.pagina {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(7, 1fr);
}

#um {
  place-items: center;
}

#frase-welcome {
  text-align: center;
  grid-row: 4;
}

.pagina:not(#um) {
  grid-template-rows: auto auto 1fr auto;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.pagina h1 {
  text-align: center;
  justify-self: center;
  margin-bottom: 2rem;
  grid-row: 2
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-row: 3
}


ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.capitulo {
  display: flex;
  align-items: center;
  flex: 1;
}

.capitulo::after {
  content: "";
  flex: 1;
  border-bottom: 1px dotted rgba(202, 197, 175, 0.7);
  margin: 0 0.5rem;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Kingthings Petrock', serif;
}

#fechar {
  justify-self: end;
  grid-row: 6
}
